
#sd-header
  top: 0
  display: flex
  align-items: center
  position: fixed
  width: 100%
  flex-wrap: wrap
  z-index: 999
  background: #fff
  transition: background 0.2s ease-in-out

#sd-logo
  text-decoration: none
  padding: 20px 20px 20px 30px
  flex-basis: 300px
  width: 300px
  display: block

  img
    width: 100%


#sd-nav-menu
  flex: 1 0 40%
  text-align: center
  transition: background 0.2s ease-in-out
  font-size: 24px

  ul
    display: block
    list-style: none
    text-transform: uppercase
    font-weight: bolder

    li 
      display: inline
      padding: 20px
      transition: padding 0.2s ease-in-out

      a
        text-decoration: none
        color: #332925

        &:hover
          color: #FAC200


#sd-header.inverted
  background: #f3f3f3


#sd-search-form
  display: block
  padding: 20px 30px
  position: relative
  width: 260px

  input
    width: 100%
    padding: 10px 5px

  #search-results
    display: block
    position: absolute
    right: 0
      
    ul
      list-style: none
      width: 320px
      box-shadow: 0px 5px 10px rgba(51, 41, 37, .5)

      li
        padding: 15px 30px
        background: #FFF
        list-style: none
        width: 100%
        display: block

        &:hover
          background: rgb(51, 41, 37)

        &:hover a
          color: #fff

        a
          text-decoration: none
          color: #332925
          display: block

    
@media screen and (max-width: 1000px)
  #sd-search-form
    width: 100%
    flex-basis: 100%

  #sd-header
    position: relative !important


  #sd-nav-menu
    ul

      li
        padding: 10px

        a
          font-size: 1em


  #sd-header.inverted
    background: #FFF

  #sd-logo.inverted
    color: #332925

  #sd-nav-menu.inverted
    ul

      li 

        a
          text-decoration: none
          color: #332925

          &:hover
            color: #FAC200



@media screen and (max-width: 768px)
  #sd-logo
    padding: 20px 1px 10px 10px
    flex-basis: 240px
    width: 240px

  #sd-nav-menu
    width: 100%
    flex-basis: 100%
    margin-bottom: 10px

    ul

      li

        a
          font-size: .8em