.main__post
	@media only screen and (max-width: $screen-md)
		padding: 20px 20px 60px 20px

	@media only screen and (min-width: $screen-md)
		padding: 130px 50px 80px 50px

.main__post--is-home
	height: auto

.main__post--is-post
	height: auto
	
.main__post-title
	margin-bottom: 30px
	text-align: center

	@media only screen and (max-width: $screen-sm)
		font-size: 2.8rem

	@media only screen and (min-width: $screen-sm)
		font-size: 5rem

.main__post-excerpt
	text-align: center
	color: #332925
	font-size: 1.3rem
	font-weight: normal

.main__post-author
	text-align: center
	font-weight: bold
	padding: 30px 0
	font-size: 1.3rem

.list__post
	display: flex
	flex-wrap: wrap

	@media only screen and (max-width: $screen-sm)
		margin: 5px 10px	

	@media only screen and (min-width: $screen-sm)
		margin: 5px 20px

.list__post-item
	position: relative

	@media only screen and (max-width: $screen-sm)
		margin: 5px 0
		flex: 1 0 100%	

	@media only screen and (min-width: $screen-sm)
		margin: 5px 20px
		flex: 1 0 350px

	&:hover .list__post-figure
		transform: scale(1.12)



.list__post-figure-wrapper
	max-height: 250px
	overflow: hidden

.list__post-figure
	height: 250px
	overflow: hidden
	display: block
	transition: all .5s

.list__post-title
	font-size: 1.3rem
	margin: 25px 0 10px
	font-weight: bolder
	padding: 0 10px

.list__post-excerpt
	color: #795227
	font-size: 1rem
	padding: 0 10px

.list__post-author
	font-size: 14px
	color: #444
	margin: 10px 0
	padding: 10px
	font-weight: bolder

.list__post--featured .sd-btn-category
	transform : translateY(-20px)
	background: #332925
	display: inline-block
	position: absolute
	right: 10px
	padding: 10px 20px
	border-radius: 40px
	text-decoration: none
	color: #fac200
	font-weight: bolder

.list__post-sidebar .sd-btn-category
	transform : translateY(-70px)
	background: #332925
	display: inline-block
	position: absolute
	right: 30px
	padding: 10px 20px
	border-radius: 40px
	text-decoration: none
	color: #fac200
	font-weight: bolder

.list__post--default .sd-btn-category
	background: #332925
	display: inline-block
	position: absolute
	right: 10px
	bottom: -20px
	padding: 10px 20px
	border-radius: 40px
	text-decoration: none
	color: #fac200
	font-weight: bolder

.list__post--default .list__post-item
	border-bottom: 1px solid rgba(51, 41, 37, .2)

.all-posts__wrapper
	width: 100%
	margin: 9rem 0
	text-align: center

.btn-all-posts
	background: #332925
	padding: 15px 30px
	border-radius: 40px
	text-decoration: none
	color: #fac200
	font-weight: bolder
	font-size: 2rem
