{{ partial "header.html" . }}

<section class="main__post main__post--is-home">
    {{ range first 1 (where .Site.Pages "Type" "post")}}
    <h1 class="main__post-title">
        <a class="link" href="{{ .RelPermalink }}">
            {{ .Title | markdownify }}
        </a>
    </h1>
    <p class="main__post-excerpt">
        {{if .Param "excerpt"}} {{ .Param "excerpt" }} {{else}} {{ .Summary }} {{end}}
    </p>
    <p class="main__post-author">
        por <a class="link" href="{{ "/author/" | relLangURL }}{{ .Param "author" | urlize }}">{{ .Param "author" }} </a>{{ .Date.Format "02/01/2006" }}
    </p>
     <p class="sb-categories-post">
        {{ range .Params.categories }}
            <a href="{{ "/categories/" | relLangURL }}{{ . | urlize }}" class="sd-btn-category">{{ . }}</a> 
        {{ end }}
    </p>
    {{end}}
</section>

<section class="list__post list__post--featured">
    {{ if gt (len (where .Site.Pages "Type" "post")) 2 }}
    {{ range first 5 (after 1 (where .Site.Pages "Type" "post"))}}
    <div class="list__post-item">
        <div class="list__post-figure-wrapper">        
            <a href="{{ .RelPermalink }}">
                <figure class="list__post-figure" style="background: url('{{ with .Params.image }}{{ . }}{{ else }}images/missing-img.png{{ end }}') no-repeat center; background-size: cover">
                </figure>
            </a>
            {{ range first 1 .Params.categories }}
                <a href="{{ "/categories/" | relLangURL }}{{ . | urlize }}" class="sd-btn-category">{{ . }}</a> 
            {{ end }}
        </div>
        <h1 class="list__post-title">
            <a class="link--inverted" href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a>
        </h1>
        <p class="list__post-excerpt">
            {{if .Param "excerpt"}} {{ .Param "excerpt" }} {{else}} {{ .Summary }} {{end}}
        </p>
        <p class="list__post-author">
            por <a class="link" href="{{ "/author/" | relLangURL }}{{ .Param "author" | urlize }}">{{ .Param "author" }}</a> {{ .Date.Format "02/01/2006" }}
        </p>
    </div>
    {{end}}
    {{end}}
</section>


<section class="list__post list__post--default">
    {{ if gt (len (where .Site.Pages "Type" "post")) 8 }}
    {{ range first 20 (after 7 (where .Site.Pages "Type" "post"))}}
    <div class="list__post-item">
        <h1 class="list__post-title">
            <a class="link--inverted" href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a>
        </h1>
        <p class="list__post-excerpt">
            {{if .Param "excerpt"}} {{ .Param "excerpt" }} {{else}} {{ .Summary }} {{end}}
        </p>
        <p class="list__post-author">
            {{if isset .Params "author"}}
            por <a class="link" href="{{ "/author/" | relLangURL }}{{ .Param "author" | urlize }}">{{ .Param "author" }}</a> {{ .Date.Format "02/01/2006" }}
            {{end}}
        </p>
         {{if isset .Params "categories"}}
        {{ range first 1 .Params.categories }}
        <a href="{{ "/categories/" | relLangURL }}{{ . | urlize }}" class="sd-btn-category">{{ . }}</a> {{ end }}
        {{ end }}        
    </div>
    {{end}}
    {{end}}
</section>

<section class="all-posts__wrapper">
    <a href="{{ .Site.BaseURL}}todos-posts/" class="btn-all-posts"><span>+</span> Todos os Posts</a>
</section>


{{ partial "footer.html" . }}