	<footer id="sd-footer">
	</footer>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/monokai-sublime.min.css">

	<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
	<script type="text/javascript" src="{{ .Site.BaseURL }}dist/main.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/lunr.js/2.1.2/lunr.min.js"></script>
	<script id="dsq-count-scr" src="//http-www-rogereosbits-com.disqus.com/count.js" async></script>
	<script>
	  $(function() {
	    $('pre').each(function(i, block) {
	      hljs.highlightBlock(block);
	    });
	  });
	</script>
	{{ template "_internal/google_analytics_async.html" . }}

</body>
</html>
