<!DOCTYPE html>
<html lang="pt-br">
<head>
	<!-- Google Tag Manager -->
	<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
	new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
	j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
	'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
	})(window,document,'script','dataLayer','GTM-M53ZRWC');</script>
	<!-- End Google Tag Manager -->

	<title>{{ .Title }}</title>
	<link rel="apple-touch-icon-precomposed" sizes="57x57" href="{{ .Site.BaseURL }}img/apple-touch-icon-57x57.png" />
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ .Site.BaseURL }}img/apple-touch-icon-114x114.png" />
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ .Site.BaseURL }}img/apple-touch-icon-72x72.png" />
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ .Site.BaseURL }}img/apple-touch-icon-144x144.png" />
	<link rel="apple-touch-icon-precomposed" sizes="60x60" href="{{ .Site.BaseURL }}img/apple-touch-icon-60x60.png" />
	<link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{ .Site.BaseURL }}img/apple-touch-icon-120x120.png" />
	<link rel="apple-touch-icon-precomposed" sizes="76x76" href="{{ .Site.BaseURL }}img/apple-touch-icon-76x76.png" />
	<link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{ .Site.BaseURL }}img/apple-touch-icon-152x152.png" />
	<link rel="icon" type="image/png" href="{{ .Site.BaseURL }}img/favicon-196x196.png" sizes="196x196" />
	<link rel="icon" type="image/png" href="{{ .Site.BaseURL }}img/favicon-96x96.png" sizes="96x96" />
	<link rel="icon" type="image/png" href="{{ .Site.BaseURL }}img/favicon-32x32.png" sizes="32x32" />
	<link rel="icon" type="image/png" href="{{ .Site.BaseURL }}img/favicon-16x16.png" sizes="16x16" />
	<link rel="icon" type="image/png" href="{{ .Site.BaseURL }}img/favicon-128.png" sizes="128x128" />
	<meta name="application-name" content="&nbsp;"/>
	<meta name="msapplication-TileColor" content="#FFFFFF" />
	<meta name="msapplication-TileImage" content="{{ .Site.BaseURL }}img/mstile-144x144.png" />
	<meta name="msapplication-square70x70logo" content="{{ .Site.BaseURL }}img/mstile-70x70.png" />
	<meta name="msapplication-square150x150logo" content="{{ .Site.BaseURL }}img/mstile-150x150.png" />
	<meta name="msapplication-wide310x150logo" content="{{ .Site.BaseURL }}img/mstile-310x150.png" />
	<meta name="msapplication-square310x310logo" content="{{ .Site.BaseURL }}img/mstile-310x310.png" />

	<meta charset="utf-8">
	<meta name="theme-color" content="#332925">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

	<link rel="canonical" href="{{ .Permalink }}">	   
	{{ "<!-- inject-style src='./themes/jhonny-roger/static/dist/style.min.css' -->" | safeHTML }}
	<link href="{{ .Site.BaseURL }}index.xml" rel="alternate" type="application/rss+xml" title="Blog | Jhonny Roger">
  	<link href="{{ .Site.BaseURL }}index.xml" rel="feed" type="application/rss+xml" title="Blog | Jhonny Roger">

	<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	<script>
	  (adsbygoogle = window.adsbygoogle || []).push({
	    google_ad_client: "ca-pub-5995749293058897",
	    enable_page_level_ads: true
	  });
	</script>

	{{ partial "seo/main" . }}
</head>
<body>
	<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M53ZRWC" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
	<header class="header">
		<a href="{{ .Site.BaseURL }}">
			<img src="{{ .Site.BaseURL }}img/logo.png" class="header__logo">
		</a>
		<nav class="nav">
			<ul>
				<li class="nav__item"><a href="{{ .Site.BaseURL}}todos-posts/" class="link--inverted">Artigos</a></li>
				<li class="nav__item"><a href="{{ .Site.BaseURL }}index.xml" class="link--inverted">Feed</a></li>
				<li class="nav__item"><a href="{{ .Site.BaseURL }}" class="link--inverted">Sobre</a></li>
			</ul>
		</nav>
		<form class="search">
			<input type="search" name="search" class="search__input" autocomplete="off" autocorrect="off" autocapitalize="off" placeholder="Faça a sua busca!">
			<div class="search__result">
				<ul class="search__list"></ul>
			</div>
		</form>
	</header>
	