<!DOCTYPE html>
<html>
<head>
	<title>Sejedev - "Seje" dev, não seja sobrinho!</title>
	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

	<link rel="stylesheet" type="text/css" href="{{ .Site.BaseURL}}css/style.min.css?{{ .Now.Unix }}">
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/monokai-sublime.min.css">
</head>
<body>
	<header id="sd-header">
		<a href="{{ .Site.BaseURL}}" id="sd-logo">Sejedev</a>
		<nav id="sd-nav-menu">
			<ul>
				<li><a href="{{ .Site.BaseURL}}categories/nodejs">Artigos</a></li>
				<li><a href="{{ .Site.BaseURL}}categories/jquery">Noticias</a></li>
				<li><a href="{{ .Site.BaseURL}}categories/jquery">Projetos</a></li>
				<li><a href="{{ .Site.BaseURL}}/colabore/">Colabore</a></li>
			</ul>
		</nav>
		<form action="#" id="sd-search-form">
			<input type="search" name="search" id="search-input" placeholder="Faça a sua busca!">
			<div id="search-results">
				<ul></ul>
			</div>
		</form>
	</header>
	