{{ partial "header.html" . }}

<section class="main__post main__post--is-home">
    <h1 class="main__post-title">
        <a class="link" href="{{ .RelPermalink }}">
            Todos os Posts
        </a>
    </h1>
</section>


<section class="list__post list__post--default">
    {{range .Site.RegularPages }}
    <div class="list__post-item">
        <h1 class="list__post-title">
            <a class="link--inverted" href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a>
        </h1>
        <p class="list__post-excerpt">
            {{if .Param "excerpt"}} {{ .Param "excerpt" }} {{else}} {{ .Summary }} {{end}}
        </p>
        <p class="list__post-author">
            {{if isset .Params "author"}}
            por <a class="link" href="{{ "/author/" | relLangURL }}{{ .Param "author" | urlize }}">{{ .Param "author" }}</a> {{ .Date.Format "02/01/2006" }}
            {{end}}
        </p>
         {{if isset .Params "categories"}}
        {{ range first 1 .Params.categories }}
        <a href="{{ "/categories/" | relLangURL }}{{ . | urlize }}" class="sd-btn-category">{{ . }}</a> {{ end }}
        {{ end }}        
    </div>
    {{end}}
</section>

{{ partial "footer.html" . }}