{{ if isset .Params.author "name" }}

  <script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Article",
    "author": {
      "name" : "{{ .Params.author.name }}"
    },
    "headline": "{{ .Title }}",
    "description": "{{ .Params.description }}",
    "wordCount": {{ .WordCount }},
    "datePublished" : "{{ .PublishDate.Format "2006-01-02T15:04:05" }}",
    "dateModified" : "{{ .Date.Format "2006-01-02T15:04:05"  }}",
    "image" : {
        "@context": "http://schema.org",
        "@type": "ImageObject",
        "author": "{{ .Params.image.author }}",
        "url": "{{ .Params.image.src }}",
        "datePublished": "{{ .PublishDate.Format "2006-01-02T15:04:05" }}",
        "name": "{{ .Params.image.title }}",
        "height" : {{ .Params.image.height }},
        "width" : {{ .Params.image.width }},
        "license" : "{{ .Params.image.license_link }}",
        "isBasedOn" : "{{ .Params.image.link }}"
      },
    "mainEntityOfPage" : "{{ .Permalink }}",
    "publisher" : {
      "@type": "Organization",
      "name" : "{{ $.Site.Params.publisherName }}",
      "logo" : {
          "@type" : "ImageObject",
          "url" : "{{ $.Site.Params.publisherLogo }}",
          "height" : {{ $.Site.Params.publisherLogoHeight }},
          "width" : {{ $.Site.Params.publisherLogoWidth }}
      }
    }
  }
  </script>

{{ else }}

  <script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "BlogPosting",
    "author": {
      "@type": "Person",
      "name" : "{{ .Params.author }}"
    },
    "mainEntityOfPage": {
      "@type": "WebPage",
      "@id": "{{ .Permalink }}"
    },
    "name": "{{ .Title }}",
    "headline": "{{ .Title }}",
    "description": "{{ .Params.excerpt }}",
    "inLanguage": "pt-BR",
    "creator" : "{{ .Params.author }}",
    "accountablePerson" : "{{ .Params.author }}",
    "copyrightHolder" : "{{ .Params.author }}",
    "copyrightYear" : "{{ .Date.Format "2006" }}",
    "wordCount": {{ .WordCount }},
    "url": "{{ .Permalink }}",
    "datePublished" : "{{ .Params.date | dateFormat "2006-01-02T15:04:05" }}",
    "dateModified" : "{{ .Date.Format "2006-01-02T15:04:05"  }}",
    "articleBody": "{{.Content| plainify}}",
    {{ with .Params.tags -}}
    "keywords": "{{ delimit . ", " }}",
    {{- end }}
    "image" : {
      "@context": "http://schema.org",
      "@type": "ImageObject",
      "author": "{{ .Params.author }}",
      "url": "{{ .Params.image | absURL }}",
      "datePublished": "{{ .Params.date | dateFormat "2006-01-02T15:04:05" }}",
      "name": "{{ .Title }}",
      "height" : 1280,
      "width" : 720
    },
    "publisher" : {
      "@type": "Organization",
      "name" : "{{ $.Site.Params.publisherName }}",
      "logo" : {
          "@type" : "ImageObject",
          "url" : "{{ $.Site.Params.publisherLogo }}",
          "height" : {{ $.Site.Params.publisherLogoHeight }},
          "width" : {{ $.Site.Params.publisherLogoWidth }}
      }
    }
  }
  </script>

{{ end }}