{{ $.Scratch.Add "Article" true }}

{{ partial "header.html" . }}

<section class="main__post main__post--is-post">
    <h1 class="main__post-title">
        <a class="link" href="{{ .RelPermalink }}">
            {{ .Title | markdownify }}
        </a>
    </h1>
    <p class="main__post-excerpt">
        {{if .Param "excerpt"}} {{ .Param "excerpt" }} {{else}} {{ .Summary }} {{end}}
    </p>
    <p class="main__post-author">
        por <a class="link" href="{{ "/author/" | relLangURL }}{{ .Param "author" | urlize }}">{{ .Param "author" }} </a>{{ .Date.Format "02/01/2006" }}
    </p>
     <p class="sb-categories-post">
        {{ range .Params.categories }}
            <a href="{{ "/categories/" | relLangURL }}{{ . | urlize }}" class="sd-btn-category">{{ . }}</a> 
        {{ end }}
    </p>
</section>


<main class="post__wrapper">
    <aside class="post__sidebar">
        <section class="list__post-sidebar">
            {{ if gt (len ( where ( where .Site.Pages.ByDate.Reverse ".Params.categories" "intersect" .Params.categories ) "Permalink" "!=" .Permalink )) 7 }}
            {{ range first 9 ( where ( where .Site.Pages.ByDate.Reverse ".Params.categories" "intersect" .Params.categories ) "Permalink" "!=" .Permalink ) }}
            <div class="list__post-sidebar-item">
                <div class="list__post-figure-wrapper">        
                    <a href="{{ .RelPermalink }}">
                        <figure class="list__post-figure" style="background: url('{{ with .Params.image }}{{ . }}{{ else }}images/missing-img.png{{ end }}') no-repeat center; background-size: cover">
                        </figure>
                    </a>
                    {{ range first 1 .Params.categories }}
                        <a href="{{ "/categories/" | relLangURL }}{{ . | urlize }}" class="sd-btn-category">{{ . }}</a> 
                    {{ end }}
                </div>
                <h1 class="list__post-title">
                    <a class="link--inverted" href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a>
                </h1>
                <p class="list__post-author">
                    por <a class="link" href="{{ "/author/" | relLangURL }}{{ .Param "author" | urlize }}">{{ .Param "author" }}</a> {{ .Date.Format "02/01/2006" }}
                </p>
            </div>
            {{end}}
            {{end}}
        </section>
    </aside>

    <article class="post__content">
        {{.Content}}
        {{ partial "comments.html" . }}
    </article>
</main>

{{ partial "footer.html" . }}