{{ partial "header.html" . }}

<section id="sd-main-post" class="sd-is-post">
    <h1>
        <a href="{{ .RelPermalink }}">
            {{ .Title | markdownify }}
        </a>
    </h1>
    <p class="sd-main-excerpt">
        {{if .Param "excerpt"}} {{ .Param "excerpt" }} {{else}} {{ .Summary }} {{end}}
    </p>
    <p class="sd-main-author">
        por <a href="{{ "/author/" | relLangURL }}{{ .Param "author" | urlize }}">{{ .Param "author" }}</a>{{ .Date.Format "02/01/2006" }}
    </p>
     <p class="sb-categories-post">
        {{ range .Params.categories }}
        <a href="{{ "/categories/" | relLangURL }}{{ . | urlize }}" class="sd-btn-category">{{ . }}</a> 
        {{ end }}
    </p>
</section>

<div id="sd-post">
    <aside id="sd-post-sidebar">
        <section id="sd-main-list">
            {{ range first 9 ( where ( where .Site.Pages.ByDate.Reverse ".Params.categories" "intersect" .Params.categories ) "Permalink" "!=" .Permalink ) }}
                <div class="sd-post-figure">
                    <a href="{{ .RelPermalink }}">
                        <figure class="tb-post-img" style="background: url('{{ with .Params.image }}{{ . }}{{ else }}images/missing-img.png{{ end }}') no-repeat center; background-size: cover">
                        </figure>
                    </a>
                    {{ range first 1 .Params.categories }}
                    <a href="{{ "/categories/" | relLangURL }}{{ . | urlize }}" class="sd-btn-category">{{ . }}</a> 
                    {{ end }}
                    <h1>
                        <a href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a>
                    </h1>
                    <p class="sd-main-author">
                        por <a href="{{ "/author/" | relLangURL }}{{ .Param "author" | urlize }}">{{ .Param "author" }}</a>{{ .Date.Format "02/01/2006" }}
                    </p>
                </div>
            {{end}}
        </section>
    </aside>

       <section id="sd-post-content">
        <article class="sd-post-article">
          {{.Content}}
        </article>

        <div class="sd-related-posts">
            <h3>Leia mais:</h3>
            <ul>
                {{ range first 3 ( where ( where .Site.Pages.ByDate.Reverse ".Params.categories" "intersect" .Params.categories ) "Permalink" "!=" .Permalink ) }}
                <li class="tb-related-post">
                  <a href="{{ .RelPermalink }}/?utm_source=tablelessRelatedLin">{{ .Title | markdownify }}</a><br />
              </li>

              {{ end }}
          </ul>
      </div>

      {{ partial "comments.html" . }}
    </section>
</div>

{{ partial "footer.html" . }}